:root {
  --primary: #1c1c1c;
  --secondary: #2d2d2d ;
  --tertiary: #fff;
  --quaternary: #b3b3b3;
  }
  
  {
  box-sizing: border-box;
  }
  body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--quaternary);
  background-color: var(--primary);
  }
  header {
  font-size: 150%;
  text-align: center;
  }
  
  h1 {
  text-align: center;
  margin: 4rem 0 2rem;
  font-size: 150%;
  }
  
  .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  h4 {
  font-size: 1.25rem;
  display:inline-block;
  margin: .25rem;
  text-align: center;
  font-size: 1.5rem;
  }
  
  #container {
    font-size: 125%;
    color: var(--secondary);
    background-color: var(--quaternary);
    padding: 50px;
    border-radius: 10px;
    margin: 3em;
    text-align: center;
    border: 100px solid var(--quaternary);
  }
  button {
  font-size: 1em;
  font-weight: bold;
  padding: .5em;
  color: var(--primary);
  background-color: var(--tertiary);
  border:1px solid #2d2d2d;
  border-radius: 5px;
  margin-bottom: .75em;
  }
  
  button:hover {
  color:var(--quaternary);
  box-shadow: 0 0 3px 3px var(--quaternary);
  }
  
  ol {
  margin-left:0px;
  padding-left:0px;
  width: 75vw;
  text-align: center;
  }
  
  .choice {
  font-weight: bolder;
  width: 12rem;
  line-height: 2;
  list-style-type: none;
  color: var(--primary);
  background-color: var(--tertiary);
  padding: .25em;
  border-radius: 10px;
  margin-bottom: .75em;
  text-align: center;
  }
  
  .choice:hover {
  color:var(--quaternary);
  box-shadow: 0 0 3px 3px var(--quaternary)
  }
  
  .btn-next {
  margin: 5px;
  text-align: center;
  }
  
  .alert {
  font-style: italic;
  color: var(--quaternary);
  text-align: center;
  }
  
  form {
  padding: .5em 0;
  text-align: center;
  }
  
  #topFive {
  font-weight: bolder;
  width: 12rem;
  line-height: 2;
  padding: .25em .25em .25em 1em;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  }